<% include partials/header %>
<title>spy portal</title>
<h1>error</h1>
<div class="content">
	<h3>
		an error has occurred with your registration. please try again.
	</h3>
	<a href="/"><button>home</button></a>
</div>
<% include partials/footer %>
