<% include partials/header %>
<title>spy portal</title>
<h1>spy portal</h1>
<div class="content">
	<h1>welcome, <%= currentUser.name %> </h1>
	<h3>
		your payment has been received and your personal information has been confirmed.  please join the Spy v Spy Facebook group ASAP for vital announcements. the game will begin on May 6th.
	</h3>
	<h3>
		please read the <i>Spy Act</i> fully before the game begins.
	</h3>
	<a href="https://drive.google.com/file/d/1G1O2KtD6s6cjV_xMg7VP2Jc88atXQ9be/view"><button>spy act</button></a>
	<a href="https://www.facebook.com/groups/390096174907101/"><button>facebook</button></a><br />
	<a href="/logout"><button>logout</button></a>
</div>

<% include partials/footer %>
