<% include partials/header %>
<title>spy portal</title>
<h1>spy portal</h1>
<p>
	Please fill out your personal information before the game starts on May 1st
</p>
</div>

<script>
	var elimModal = document.getElementById('elimModal');
	var elimBtn = document.getElementById("elimBtn");
	var elimSpan = document.getElementById("elimSpan");
	elimBtn.onclick = function() {
		elimModal.style.display = "block";
	}
	elimSpan.onclick = function() {
		elimModal.style.display = "none";
		console.log('ye')
	}
	window.onclick = function(event) {
		if (event.target == elimModal) {
			elimModal.style.display = "none";
		}
	}
</script>
<% include partials/footer %>
