<% include partials/header %>
<title>spy vs spy</title>
<img src="logoBW.png" width="200px" />
<h1>spy vs spy</h1>
<form action="/login", method="POST">
	<label for="username">user: </label>
	<input type="text" name="username" required /><br /><br />

	<label for="password">pass: </label>
	<input type="password" name="password" required /><br />
	<button href="user.html" type="submit">enter</button>
</form>

<button id="regBtn">register</button>

<div id="regModal" class="modal">
	<div class="modal-content">
		<span id="regSpan" class="close">&times;</span>
		<h2>
			please enter your details
		</h2>
		<form action="/register", method="POST">
			<label for="email">sgs email: </label>
			<input type="email" name="email"  required/> <br/><br/>

			<label for="name">full name: </label>
			<input type="text" name="name"  required/> <br/><br/>

			<label for="studentId">student #: </label>
			<input type="text" name="studentId"  required/> <br/><br/>

			<label for="password">password: </label>
			<input type="password" name="password" required/> <br/><br/>

			<label for="userPicture">photo: </label>
			<input type="file" name="userPicture"/> <br/><br/>
			<button>enter</button>
		</form>
	</div>
</div>


<script>
	var regModal = document.getElementById('regModal');
	var regBtn = document.getElementById("regBtn");
	var regSpan = document.getElementById("regSpan");
	regBtn.onclick = function() {
		regModal.style.display = "block";
	}
	regSpan.onclick = function() {
		regModal.style.display = "none";
		console.log('ye')
	}
	window.onclick = function(event) {
		if (event.target == regModal) {
			regModal.style.display = "none";
		}
	}
</script>
<% include partials/footer %>
