<% include partials/header %>
<title>payment</title>
<h1>payment</h1>

<div class="content">
	<h1>welcome, <%= currentUser.name %> </h1>
	<h3>
		please either submit a $10 PayPal or E-Transfer payment or deliver $10 in cash to <i>Headquarters</i> to confirm registration in the game. the spy portal will unlock when your payment has been received.
	</h3>
	<h3>PayPal and E-Transfer payable to: <strong>youngnicholas228@gmail.com</strong></h3>
	<a href="http://paypal.me/nickyoungkth"><button>paypal</button></a>
	<a href="/logout"><button>logout</button></a>
</div>

<% include partials/footer %>
