<% include partials/header %>
<title>spy portal</title>
<h1>spy portal</h1>
<h2>spy: <span id="spy-name"> <%= currentUser.name %> </span></h2>
<h2>target: <span id="target-name"> <%= currentUser.target %> </span></h2>
<h2>image: </h2>
<img id="target-image" height=150px />
<button id="elimBtn">eliminated</button>

<div>
	<button href="/">spy act</button>
	<button id="safetyBtn" href="/">safety</button>
	<br />
	<a href="/logout"><button>logout</button></a>
</div>

<div id="elimModal" class="modal">
	<div class="modal-content">
		<span id="elimSpan" class="close">&times;</span>
		<h2>please upload a video of your elimination, if available, and confirm your elimination.</h2>
		<form id="elimForm">
			<br /><input type="file" name="video"/> <br />
			<button type="submit" id="eliminated-confirm">confirm</button>
		</form>
	</div>
</div>

<div id="safetyModal" class="modal">
	<div class="modal-content">
		<span id="safetySpan" class="close">&times;</span>
		<h2>safety</h2>
		<h3>
			this week's safety is
		</h3>
		<img src="" />
	</div>
</div>

<script>
	var elimModal = document.getElementById('elimModal');
	var elimBtn = document.getElementById("elimBtn");
	var elimSpan = document.getElementById("elimSpan");
	elimBtn.onclick = function() {
		elimModal.style.display = "block";
	}
	elimSpan.onclick = function() {
		elimModal.style.display = "none";
		console.log('ye')
	}
	window.onclick = function(event) {
		if (event.target == elimModal) {
			elimModal.style.display = "none";
		}
	}

	var safetyModal = document.getElementById('safetyModal');
	var safetyBtn = document.getElementById("safetyBtn");
	var safetySpan = document.getElementById("safetySpan");
	safetyBtn.onclick = function() {
		safetyModal.style.display = "block";
	}
	safetySpan.onclick = function() {
		safetyModal.style.display = "none";
	}
	window.onclick = function(event) {
		if (event.target == safetyModal) {
			safetyModal.style.display = "none";
		}
	}
</script>
<% include partials/footer %>
