<% include partials/header %>
<title>spy portal</title>
<h1>spy portal</h1>
<h2>target: <span id="target-name">test name</span></h2>
<h2>image: </h2>
<img src="" id="target-image" height=150px />
<h2>details: </h2>
<p>
	test details
</p>
<button id="elimBtn">eliminated</button>

<div id="elimModal" class="modal">
	<div class="modal-content">
		<span id="elimSpan" class="close">&times;</span>
		<h2>please upload a video of your elimination, if available, and confirm your elimination.</h2>
		<input type="TODO: FILE UPLOAD" />
		<button id="eliminated-confirm">confirm</button>
	</div>
</div>

<div class="bottom">
	<button href="/">rules</button>
	<button href="/">safety</button>
	<button href="/">log out</button>
</div>

</div>

<script>
	var elimModal = document.getElementById('elimModal');
	var elimBtn = document.getElementById("elimBtn");
	var elimSpan = document.getElementById("elimSpan");
	elimBtn.onclick = function() {
		elimModal.style.display = "block";
	}
	elimSpan.onclick = function() {
		elimModal.style.display = "none";
		console.log('ye')
	}
	window.onclick = function(event) {
		if (event.target == elimModal) {
			elimModal.style.display = "none";
		}
	}
</script>
<% include partials/footer %>
