/*TODO: make positioining relative */
@keyframes colorChange {
    0% {
        color: #fff;
    }

    100% {
        color: #b70000;
    }
}

body {
    padding: 5%;
    background: black;
    color: white;
    text-align: center;
    font-family: Cutive Mono;
}

.content {
    max-width: 30vw;
    min-width: 280px;
    margin: auto;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #b70000;
    width: 100%;
}

h1 {
    animation: 15s ease 0s 1 colorChange;
    animation-fill-mode: forwards;
}

h3 {
    font-size: 20px;
}

input[type=text], input[type=password], input[type=email], input[type=tel] {
    padding: 8px;
    width: 50vw;
    max-width: 150px;
    background: #fff;
}

input[type=file] {
    background: #fff;
    color: black;
}

a>button, button {
    margin-top: 15px;
    padding: 15px 40px;
    width: 170px;
    border-width: 0px;
    background: #fff;
    font-family: Cutive Mono;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.25s cubic-bezier(1, 0.25, 0, 0.75);
    text-decoration: none;
    transition: 0.3s;
}

button:hover {
    background: #b70000;
    color: #fff;
}

#elimBtn {
    width: 200px;
}

/*MODAL SHIT*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    background-color: #b70000;
    margin: 5% auto;
    padding: 20px;
    width: 100vw;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover, .close:focus {
    text-decoration: none;
    cursor: pointer;
}
