.navbar-default {
    background: #262626;
    color: #f1f1f1;
    
    border-color: #262626;
    padding: 12px;
}

.navbar-brand {
    color: #f1f1f1;
    font-size: 2.5em;
}

.navbar-default .navbar-brand {
    color: #f1f1f1;
}

.navbar-default .navbar-brand {
    color: #f1f1f1;
}

.navbar-default .navbar-nav>li>a {
    color: #f1f1f1;
}

#features {
    background: #f1f1f1;
    padding: 20px;
}

.section-header {
    text-align: center;
}

body {
    padding-top: 100px;
    background: #262626;
    
}

p {
    font-size: 16px;
}